* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url('./images/what-the-hex.png');
    background-repeat: repeat;
}

.below-navbar {
    margin-top: 4em;
}

/* Nav bars */

.nav {
    
    top: 0;
    position: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #404040;
    overflow-x: auto;
    overflow-y: hidden;
    height: 3em;
    
    z-index: 1;
}

span.nav {
    display: inline-block;
}

.nav div {
    padding: 0.75em 1em 0.75em 1em;
}

.nav div.right {
    float: right;
}

.nav div.left {
    float: left;
}

.nav div:hover {
    background-color: #464646;
}

.nav a {
    color: white;
    text-align: center;
    text-decoration: none;
}

.nav a:hover {
    color: white;
    text-decoration: none;
}

/* Task view */

.content-container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
}

.cols-container {
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    box-sizing: border-box;
    padding-left: 5px;
}
  
.cols-container li {
    float: left;
    width: 35ch;
    padding: 15px 5px 15px 5px;
    margin: 4em 1px 10px 1px;
    flex: 0 0 auto;
}

.col {
    margin: 5px;
    display: inline-block;
}

.subject-name {
    background-color: #a1a1a1;
    padding: 10px;
    border-radius: 2px;
}

.subject-add a {
    text-decoration: none;
}
.subject-add a:hover {
    text-decoration: none;
}

.tasks-container {
    background-color: #d4d4d4;
    overflow: hidden;
}

.quicktask-container {
    background-color: #d4d4d4;
    padding: 0.5em 0.5em 0.5em 0.5em;
    overflow-wrap: normal;
}
div.quicktask-container {
    white-space: pre;
}

button.btn-quicktask {
    background-color: #2a64e2a8;
    font-size: 14px;
    vertical-align: top;
    align-items: center;
    padding: 0.2em 0.5em 0.2em 0.5em;
    border: 0px;
    border-radius: 2px;
    float: right;
    clear: right;
}

button.btn-quicktask:hover {
    background-color: #2152bbb6;
}

button.btn-quicktask:focus {
    outline: none;
}

textarea#quicktask-area {
    width: 100%;
    max-width: 100%;
    height: auto;
    border: 0px;
    background-color: #d4d4d4;
    padding: 2px;
}

textarea#quicktask-area:focus {
    border: 0px;
    outline: none;
    background-color: #dbdbdb;
}

.task {
    background-color: #ebebeb;
    color: black;
    padding: 0.25em 0.5em 0.25em 0.5em;
    margin: 0.5em;
    z-index: 1;
    border-radius: 2px;
    box-shadow: 1px 1px 1px #d7d7d7;
    overflow-wrap: normal;
}

.priority1 {
    background-color: #ed4c2f;
}

.priority2 {
    background-color: #f1da0b;
}

.priority3 {
    background-color: #1dc434;
}

.priority4 {
    background-color: #ebebeb;
}

div.task:hover {
    transform: scale(1.02);
}

.add-task {
    background-color: inherit;
}

.tasks-container a {
    text-decoration: none;
}

.tasks-container a:hover {
    text-decoration: none;
}

/* Edit/add header */

.edit-add-container {
    margin: 10px 10px 10px 10px;
}

.buttons-container {
    display: inline-block;
    height: 3em;
    overflow: hidden;
}

a.buttons-container {
    text-decoration: none;
}

#back-icon {
    width: 3em;
    height: 3em;
}

button.btn {
    background-color: #2a64e2a8;
    vertical-align: top;
    align-items: center;
    height: 2em;
    margin: 0.5em 0em 0.5em 1em;
    padding: 0.1em 0.5em 0.1em 0.5em;
}

button.btn:hover {
    background-color: #2152bbb6;
}

.edit-details-container {
    margin-left: 20px;
    display: block;
}

#name-input {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    font-size: 30px;
    width: 80%;
    padding: 5px;
    background-color: #ffffff5f;
}

#name-input:focus {
    outline: 0;
}

.priority-container {
    margin-top: 20px;
    margin-left: 5px;
    font-size: 16px;
}

.datetime-container {
    margin-top: 20px;
    margin-left: 5px;
}

.description-container {
    margin-top: 20px;
    margin-left: 5px;
}
#description-area {
    background-color: #bdbcbc;
    border-radius: 2px;
    border: 0px;
    padding: 5px;
}

/* List projects */
.list-projects-container-div {
    width: 50%;
    margin: 0 auto;
    font-size: 32px;
}

div.list-projects-container-div {
    margin-top: 1em;
}

.project-listing {
    margin-top: 15px;
    margin-bottom: 15px;
}

.list-projects-container-span {
    display: inline-block;
    width: 100%;
    vertical-align: center;
}

b.project-name:hover {
    font-size: 1.015em;
    cursor: pointer;
}

b.project-name-add:hover .add-icon {
    transform: scale(1.1);
}

.trash-icon {
    width: 10%;
    color: #da0000;
    float: right;
    font-size: 2px;
    max-height: 36px;
    vertical-align: center;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

svg.trash-icon:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.add-project {
    margin-top: 35px;
}

.add-icon {
    width: 10%;
    color: #16b601;
    float: left;
    max-height: 30px;
    vertical-align: center;
    margin: 0.25em 0.25em 0.25em 0em;
}

/* Task chart */

.title-bar {
    display: flex;
}

#back-icon-alone {
    float: left;
    width: 4em;
    height: 4em;  
    margin-left: 0.5em;
}

.back-icon-alone-settings {
    display: block;
    width: 100%;
}

.chart-title {
    margin-top: 0.5em;
    margin-left: 39%;
    display: block;
    font-size: 24px;
}

.chart-container {
    margin-left: 10%;
    margin-top: 5px;
}


/* Home page */
.home-center-text {
    text-align: center;
    margin: 0.5em;
}


.home-features-container {
    display: flex;
    width: 70%;
    margin: 2em 12% 2em 12%;
    padding: 3%;
    justify-content: space-between;
    overflow: hidden;
    clear: both;
    background-color: #a1a1a199;
    border-radius: 5px;
    box-shadow: 0px 0px 1px #a1a1a1;
}

.home-feature {
    max-width: 25%;
    text-align: center;
    font-weight: bold;
}

.home-icon {
    width: 2em;
    height: 2em;
    margin-bottom: 1em;
}

/* User forms */

.login-center-text {
    margin-top: 10px;
    text-align: center;
}

.login-form {
    text-align: center;
    margin: 2em 37% 2em 37%;
    background-color: #a1a1a199;
    border-radius: 10px;
}

.login-form-invisible {
    text-align: center;
    margin: 1em 37% 2em 37%;
}

.settings-form {
    margin: 1em;
    background-color: #a1a1a199;
    border-radius: 10px;
}

.settings-form form {
    padding: 1em;
    max-width: 20%;
}

.login-form form {
    padding: 5px;
}

.form-label {
    margin-top: 1em;
}

input.input-text {
    padding: 2px;
}

input.input-text:focus {
    outline: 0;
}

button.form-btn {
    margin-top: 0.5em;
    margin-bottom: 1em;
    background-color: #2a64e2a8;
    padding: 0.25em 0.5em 0.25em 0.5em;
    border: 0;
    border-radius: 2px;
}

button.btn-below-input {
    margin-top: 1em;
}

button.form-btn:hover {
    background-color: #2152bbb6;
}

button.form-btn:focus {
    outline: 0;
}